.Movie-card-container {
  /* width: 100%; */
  font-size: large;
}

.Movie-card {
  /* padding: 10px; */
  border: 1px dotted white;
  margin: 10px;
  background-color: #8392b3;
  box-shadow: 4px 4px 30px -8px rgb(248, 248, 248);
  border-radius: 10px;
  color: aliceblue;
  height: 100%;
}

.Movie-card-title {
  width: 70%;
  margin: auto;
}

.movielist {
  list-style: none;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.listitem {
  margin: 10px;
  width: 300px;
  /* border: 1px dotted white; */
}

.listitem:hover {
  box-shadow: 4px 4px 30px -8px rgb(248, 248, 248);
  transform: scale(1.05);
  transition: all 0.4s ease;
}

.Movie-card-title {
  background-color: #212125;
  width: 300px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.Movie-card-title > span {
  width: 70%;
  margin: auto;
}

.imagebutton {
  padding: 0px;
  margin: auto;
  background-color: #041538;
  cursor: pointer;
  box-shadow: none;
  border-radius: 0px;
  font-size: 0%;
}

@media screen and (max-width: 800px) {
  .movielist {
    /* display: none; */
    display:block;
    padding: 0px;
  }

  .listitem {
    margin: auto;
    width: 400px;
  }

  .listitem > img {
    width: 400px;
  }
  
}