:root {
  --primay: black;
  --bg-primay: white;

  --link: #2a0b0b;
}

.App {
  text-align: center;
  background-color: #282c34;
}

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  background-image: url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876003.jpg);
  background-size: cover;
}
.star {
  color: yellow;
  margin: 10px;
}

p {
  margin: 20px 0px;
}

a {
  color: white;
}

.header,
.title {
  font-size: 3rem;
}

.title {
  margin: 10%;
}

.body {
  font-size: 0.9rem;
  background-color: #282c34;
  color: aliceblue;
  box-shadow: 13px -1px 54px 8px rgb(248, 248, 248);
  padding-bottom: 5px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
}

button,
input,
select {
  font-size: calc(10px + 1.5vmin);
  /* margin-top: 1%; */
  padding: 2px;
  border-radius: 5px;
}

label {
  margin: 0.6rem;
  font-size: 1rem;
}

button {
  outline: none;
  border: none;
  padding: 10px 35px;
  background: #324e68;
  color: white;
  margin-top: 1rem;
}

.Search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}


.Error-message {
  background-color: white;
  border-radius: 10px;
  color: darkred;
  font-size: large;
  font-weight: bolder;
  padding: 20px;
  margin-bottom: 50px;
  width: 30%;
  margin: 0px auto 50px auto;
}

footer {
  color: white;
  background-image: url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876003.jpg);
  background-size: cover;
  height: 10vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

/* @media (prefers-reduced-motion: no-preference) {
  .star {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @keyframes star {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
